body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('background.jpg');
  background-size: cover;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

/*
.rotated {
  transform: rotate(180deg); Equal to rotateZ(45deg)
  background-color: pink;
} 
*/

/*.slidein {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }
  
  to {
    margin-left:0%;
    width:100%;
  }
}*/

.rotate-counter-clockwise {
  animation-duration: 2s;
  animation-name: rotate-counter-clockwise;
}

@keyframes rotate-counter-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-clockwise {
  animation-duration: 2s;
  animation-name: rotate-clockwise;
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.flipped {
  transform: scale(-1, 1);
}

.hee {
  position: absolute;
  margin-top: -330px;
  margin-left: 170px;


  animation-duration: 0.75s;
  animation-name: fade-expand;
}

@keyframes fade-expand {
  from {
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
  }
  to {
    background-color: rgba(255,255,255,0);
    color: rgba(0,0,0,0);
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 40px;
  }
}