body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('background.jpg');
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

/*
.rotated {
  transform: rotate(180deg); Equal to rotateZ(45deg)
  background-color: pink;
} 
*/

.rotatingDancer{
  transform: rotate(0deg);
}

/*
.img {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}
*/

.flipped {
  transform: scale(-1, 1);
}